.grid {    
    grid-template-columns: repeat(8, 8fr);
    grid-gap: 3em;
    grid-auto-rows: minmax(auto, auto);
    margin: 1rem;
    /*text-align: center;*/
    display: inline-grid;
    }

#bottonheaders {
    background-color: rgb(135, 235, 173);    
}