<h2>Acciones</h2>

<div class="grid">        
    <button id="bottonheaders" (click)="navService.clickAtras()">        
        <mat-icon> arrow_back </mat-icon>
    </button>
    
    <button id="bottonheaders" (click)="navService.clickAdelante()">            
        <mat-icon> arrow_forward </mat-icon>
    </button>
    
    <button id="bottonheaders" (click)="navService.clickAbajo()">
        <mat-icon> arrow_downward </mat-icon>
    </button>
  
    <button id="bottonheaders" (click)="navService.clickArriba()">
        <mat-icon> arrow_upward </mat-icon>
    </button>
  
    <button id="bottonheaders" (click)="navService.clickLanzar()">
        <mat-icon> near_me </mat-icon><br>
        Lanzar flecha
    </button>

    <button id="bottonheaders" (click)="navService.clickInicio()">    
        <mat-icon> play_arrow </mat-icon><br>
        Iniciar partida
    </button>
    
    <button id="bottonheaders" (click)="navService.clickInstrucciones()">        
        <mat-icon> help </mat-icon><br>
        Help
    </button>
  </div>